@using DrinkManagerWeb.Resources
@model DrinkManagerWeb.Models.ViewModels.DrinkDetailsViewModel
@inject IStringLocalizer<SharedResource> L


@{
    ViewBag.Title = Model.Drink.Name;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12 col-md-4 mb-3 mb-md-0">
        <img class="w-100 rounded shadow-lg mb-3" src="@Model.Drink.ImageUrl" />
        <div class="card">
            <div class="card-header">
                <h4>@L["Ingredients_01"]</h4>
            </div>
            <div class="card-body">
                @if (Model.Drink.Ingredients != null && Model.Drink.Ingredients.Any())
                {
                    <ul>
                        @foreach (var ingredient in Model.Drink.Ingredients)
                        {
                            <li>@ingredient.Name @ingredient.Amount</li>
                        }
                    </ul>
                }
                else
                {
                    <p>@L["NoIngredients"]</p>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <partial name="_AlertPartial" />
        <div class="card mb-3">
            <div class="mb-3 card-header">
                <div class="row">
                    <h1 class="col-12 text-center text-xl-left col-xl-5">@Model.Drink.Name</h1>
                    <div class="buttons d-flex align-items-center ml-xl-auto col-12 col-xl-7 justify-content-center justify-content-xl-end flex-wrap">
                        @if (Model.IsFavourite)
                        {
                            <a asp-controller="Drinks" asp-action="RemoveFromFavourite" asp-route-id="@Model.Drink.DrinkId" class="btn btn-primary mx-2 mb-2 text-nowrap">
                                <i class="fas fa-heart-broken mr-2"></i>@L["RemoveFromFavourites"]
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Drinks" asp-action="AddToFavourite" asp-route-id="@Model.Drink.DrinkId" class="btn btn-outline-primary mx-2 mb-2 text-nowrap">
                                <i class="fas fa-heart mr-2"></i>@L["AddToFavourites"]
                            </a>
                        }
                        <a asp-controller="Drinks" asp-action="Edit" asp-route-id="@Model.Drink.DrinkId" class="btn btn-primary mx-2 mb-2">@L["Edit"]</a>
                        <a href="javascript:void(0)" class="btn btn-danger mx-2 mb-2" onclick="OpenRemoveModal()">@L["Remove"]</a>
                    </div>
                    <strong class="text-center text-xl-left col-12">@Model.Drink.Category</strong>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 d-flex flex-column">
                        <strong>@L["AlcoholContent"]:</strong>
                        <div>@Model.Drink.AlcoholicInfo</div>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <strong>@L["Glass"]:</strong>
                        <div>@Model.Drink.GlassType</div>
                    </div>
                </div>
                <p>@Model.Drink.Instructions</p>
            </div>
        </div>
        <div class="card">
            <div class="mb-3 card-header d-flex">
                <h4>@L["Review"]</h4>
                <div class="buttons ml-auto">
                    @if (Model.CanUserReview)
                    {
                    <a asp-controller="Drinks" asp-action="AddReview" asp-route-id="@Model.Drink.DrinkId" class="btn btn-primary">@L["AddReview"]</a>
                    }
                </div>
            </div>
            <div class="card-body reviews">
                @if (Model.Drink.DrinkReviews.Any())
                {
                    foreach (var review in Model.Drink.DrinkReviews)
                    {

                        <div class="review mb-2 pb-2 border-bottom">
                            <p>@review.Author.UserName</p>
                            <p>
                                @for (var i = review.ReviewScore; i > 0; i--)
                                {
                                    <i class="fa fa-star checked"></i>
                                }
                            </p>
                            <p>@review.ReviewText</p>
                            <p>@L["DateOfReview"]: @review.ReviewDate</p>
                        </div>
                    }
                }
                else
                {
                    <p>@L["NoReviewsYet"].</p>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="pt-2">
            <partial name="Partials/BackButton" />
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        function OpenRemoveModal() {
            $("#modal .modal-title").append(`<h2>Remove @Model.Drink.Name</h2>`);
            $("#modal .modal-body").append(`<p class="text-center m-0">Are you sure that you want to remove @Model.Drink.Name ?</p>`);
            $("#modal .modal-footer").append(`<a class="btn btn-primary mr-auto" href="javascript:void(0)" onclick="$('#modal').modal('hide')">No</a>`);
            $("#modal .modal-footer").append(`<a class="btn btn-danger" href="/Drinks/Remove/@Model.Drink.DrinkId">Yes</a>`);
            $('#modal').modal();

            $('#modal').off('hidden.bs.modal').on('hidden.bs.modal',
                function(e) {
                    $("#modal .modal-title").html("");
                    $("#modal .modal-body").html("");
                    $("#modal .modal-footer").html("");
                });
        }
    </script>
}
