@model BLL.Drink

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<div class="row px-4">
    <div class="col-4">
        <img class="w-100 rounded shadow-lg mb-3" src="@Model.ImageUrl" />
        <div class="card">
            <div class="card-header">
                <h4>Ingredients</h4>
            </div>
            <div class="card-body">
                @if (Model.Ingredients != null && Model.Ingredients.Any())
                {
                    <ul>
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            <li>@ingredient.Name @ingredient.Amount</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No ingredients</p>
                }
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card mb-3">
            <div class="mb-3 card-header">
                <div class="d-flex">
                    <h1>@Model.Name</h1>
                    <div class="buttons d-flex align-items-center ml-auto">
                        @if (Model.IsFavourite)
                        {
                            <a asp-controller="Drinks" asp-action="RemoveFromFavourite" asp-route-id="@Model.DrinkId" class="btn btn-primary mr-3">
                                <i class="fas fa-heart-broken mr-2"></i>Remove from Favourites
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Drinks" asp-action="AddToFavourite" asp-route-id="@Model.DrinkId" class="btn btn-outline-primary mr-3">
                                <i class="fas fa-heart mr-2"></i>Add to Favourites
                            </a>
                        }
                        <a asp-controller="Drinks" asp-action="AddReview" asp-route-id="@Model.DrinkId" class="btn btn-primary mr-3">Add Review</a>
                        <a asp-controller="Drinks" asp-action="Edit" asp-route-id="@Model.DrinkId" class="btn btn-primary mr-3">Edit</a>
                        <a href="javascript:void(0)" class="btn btn-danger" onclick="OpenRemoveModal()">Remove</a>
                    </div>
                </div>
                <strong>@Model.Category</strong>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 d-flex flex-column">
                        <strong>Alcohol content:</strong>
                        <div>@Model.AlcoholicInfo</div>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <strong>Glass:</strong>
                        <div>@Model.GlassType</div>
                    </div>
                </div>
                <p>@Model.Instructions</p>
            </div>
        </div>
        <div class="card">
            <div class="mb-3 card-header">
                <h4>Reviews</h4>
            </div>
            <div class="card-body">
                @if (Model.DrinkReview == null)
                {
                    <p>No reviews</p>
                }
                else
                {
                    <p>@Model.DrinkReview</p>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        function OpenRemoveModal() {
            $("#modal .modal-title").append(`<h2>Remove @Model.Name</h2>`);
            $("#modal .modal-body").append(`<p class="text-center m-0">Are you sure that you want to remove @Model.Name ?</p>`);
            $("#modal .modal-footer").append(`<a class="btn btn-primary mr-auto" href="javascript:void(0)" onclick="$('#modal').modal('hide')">No</a>`);
            $("#modal .modal-footer").append(`<a class="btn btn-danger" href="/Drinks/Remove/@Model.DrinkId">Yes</a>`);
            $('#modal').modal();

            $('#modal').off('hidden.bs.modal').on('hidden.bs.modal',
                function(e) {
                    $("#modal .modal-title").html("");
                    $("#modal .modal-body").html("");
                    $("#modal .modal-footer").html("");
                });
        }
    </script>
}
