@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Drinks";
    Layout = "_Layout";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drink in Model.Drinks)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@drink.Id">@drink.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Drinks.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Drinks.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Drinks.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@for (int i = 0; i < Model.Drinks.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(i+1)"
       class="btn btn-default @Model.Drinks.IsOnCurrentPage(Model.Drinks.PageIndex, i+1)">
        @(i+1)
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Drinks.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>