@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Drinks";
    Layout = "_Layout";
}

<div class="row px-4">
    <div class="col-12">
        <header class="d-flex align-items-center">
            <h1>Drink List</h1>
            <div class="buttons ml-auto">

                <a asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus mr-2"></i>
                    Create New Drink
                </a>
            </div>
        </header>
        @*<div class="card-columns">
            @foreach (var drink in Model.Drinks)
            {
                <div class="card col-lg-8 col-md-4 col-sm-2">
                    <a class="card-title" asp-action="DrinkDetails" asp-route-id="@drink.Id"><img class="w-100 rounded shadow-lg mb-3" src="@drink.ImageUrl" /></a>
                    <div class="card-body">
                        <a class="card-title" asp-action="DrinkDetails" asp-route-id="@drink.Id"><h5>@drink.Name</h5></a>
                    </div>
                </div>
            }
        </div>*@
        <div class="row">
            @foreach (var drink in Model.Drinks)
            {
                <div class="col-lg-3 col-md-2 col-sm-1 mb-3">
                    <div class="card">
                        <a class="page-link" asp-action="DrinkDetails" asp-route-id="@drink.Id"><img class="w-100 rounded shadow-lg" src="@drink.ImageUrl" /></a>
                        <div class="card-body">
                            <a class="card-title" asp-action="DrinkDetails" asp-route-id="@drink.Id"><h4>@drink.Name</h4></a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @{
            var prevDisabled = !Model.Drinks.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Drinks.HasNextPage ? "disabled" : "";
        }

        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.Drinks.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="page-link">
                        Previous
                    </a>
                </li>
                @for (int i = 0; i < Model.Drinks.TotalPages; i++)
                {
                    <li class="page-item @Model.Drinks.IsOnCurrentPage(Model.Drinks.PageIndex, i+1)">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(i+1)"
                           class="page-link">
                            @(i+1)
                        </a>
                    </li>
                }
                <li class="page-item @nextDisabled">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.Drinks.PageIndex + 1)"
                       class="page-link">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>