@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Search by ingredients";
    Layout = "_Layout";
}

<div>
    <form asp-controller="Drinks" asp-action="SearchByIngredients" method="get">
        <p>
            Enter ingredients to find <br/>(Tip 1: you can provide one or more ingredients separated by a space) <br/>
            (Tip 2: choose if you want to find drinks containing ANY or ALL provided ingredients):<br/>
            <input type="text" name="SearchString">
            <input type="radio" id="any" name="searchCondition" value="any" checked="checked" />
            <label for="all">Any ingredient</label>
            <input type="radio" id="all" name="searchCondition" value="all" />
            <label for="any">All ingredients</label>
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="SearchByIngredients" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["SearchString"]" asp-route-searchCondition="@ViewData["SearchCondition"]">Name</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var drink in Model.Drinks)
    {
        <tr>
            <td>
                <a asp-action="DrinkDetails" asp-route-id="@drink.Id">@drink.Name</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Drinks.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Drinks.HasNextPage ? "disabled" : "";
}

<nav>
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="SearchByIngredients"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.Drinks.PageIndex - 1)"
               asp-route-searchString="@ViewData["SearchString"]"
               asp-route-searchCondition="@ViewData["SearchCondition"]"
               class="page-link">
                Previous
            </a>
        </li>
        @for (int i = 0; i < Model.Drinks.TotalPages; i++)
        {
            <li class="page-item @Model.Drinks.IsOnCurrentPage(Model.Drinks.PageIndex, i+1)">
                <a asp-action="SearchByIngredients"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(i+1)"
                   asp-route-searchString="@ViewData["SearchString"]"
                   asp-route-searchCondition="@ViewData["SearchCondition"]"
                   class="page-link">
                    @(i+1)
                </a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a asp-action="SearchByIngredients"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.Drinks.PageIndex + 1)"
               asp-route-searchString="@ViewData["SearchString"]"
               asp-route-searchCondition="@ViewData["SearchCondition"]"
               class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>
