<!DOCTYPE html>
@{
    var routeValues = ViewContext.RouteData.Values;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrinkManagerWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <!-- sidebar -->
    <div class="container-fluid">
        <div class="row wrapper">
            <div class="col-2 sidenav pt-3">
                <h2 class="text-center pb-4 pt-4">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        Drink Manager
                        <i class="fas fa-cocktail"></i>
                    </a>
                </h2>
                <ul class="navbar-nav flex-grow-1 pl-5">
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" && routeValues["controller"].ToString() == "Home" ? "active" : "")">
                        <i class="fas fa-home mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" && routeValues["controller"].ToString() == "Drinks" ? "active" : "")">
                        <i class="fas fa-glass-martini mr-3"></i>
                        <a class="nav-link text-dark p-0" asp-area="" asp-controller="Drinks" asp-action="Index">All drinks</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="fas fa-search mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Search by name</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="fas fa-percent mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Search by alcohol content</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="fas fa-lemon mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Search by ingredient</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="fas fa-heart mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Favourite drinks</a>
                    </li>
                    <li class="nav-item d-flex align-items-center @(routeValues["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="fas fa-star mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Reviewed drinks</a>
                    </li>
                </ul>
            </div>

            <main class="col-10 py-5">
                <!-- page body -->
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>