<!DOCTYPE html>
@{
    var routeValues = ViewContext.RouteData.Values;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrinkManagerWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <!-- sidebar -->
    <div class="container-fluid">
        <div class="row wrapper">
            <nav class="sidenav px-0 py-md-0 border-light border-right" id="sidenav">
                <a class="logo d-flex justify-content-center my-2 my-md-0 px-3 my-md-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <div>
                        <i class="fas fa-cocktail"></i>
                    </div>
                    <div class="text-left">
                        Drink<br />
                        Manager
                    </div>
                </a>
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-row flex-md-column">
                    <li class="nav-item d-flex align-items-center my-2 mr-3 mt-md-0 mr-md-0 mb-0 mb-md-3 @(routeValues["Action"] != null && routeValues["Action"].ToString() == "Index" && routeValues["controller"].ToString() == "Home" ? "active" : "")">
                        <a class="nav-link rounded p-3" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i><span>Back to Drink Manager</span></a>
                    </li>
                    <li class="nav-item d-flex align-items-center my-2 mr-3 mt-md-0 mr-md-0 mb-0 mb-md-3 @(routeValues["Action"] != null && routeValues["Action"].ToString() == "Index" && routeValues["controller"].ToString() == "Admin" ? "active" : "")">
                        <a class="nav-link rounded p-3" asp-area="" asp-controller="Admin" asp-action="Index"><i class="fas fa-desktop"></i><span>Admin panel home</span></a>
                    </li>
                    <li class="nav-item d-flex align-items-center my-2 mr-3 mt-md-0 mr-md-0 mb-0 mb-md-3 @(routeValues["Action"] != null && routeValues["Action"].ToString() == "Users" && routeValues["controller"].ToString() == "Admin" ? "active" : "")">
                        <a class="nav-link rounded p-3" asp-area="" asp-controller="Admin" asp-action="Users"><i class="fas fa-users"></i><span>Users administration</span></a>
                    </li>
                    <li class="nav-item d-flex align-items-center my-2 mr-3 mt-md-0 mr-md-0 mb-0 mb-md-3 @(routeValues["Action"] != null && routeValues["Action"].ToString() == "RolesList" ? "active" : "")">
                        <a class="nav-link rounded p-3" asp-area="" asp-controller="Admin" asp-action="RolesList"><i class="fas fa-user-tag"></i><span>RolesList administration</span></a>
                    </li>
                </ul>
            </nav>

            <main class="col pt-5 px-4">
                <!-- page body -->
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</body>
</html>