<!DOCTYPE html>
@{
    var routeValues = ViewContext.RouteData.Values;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrinkManagerWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <!-- sidebar -->
    <div class="container-fluid">
        <div class="row wrapper">
            <nav class="col-2 sidenav p-0 border-light border-right">
                <a class="logo px-5 d-flex my-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="mr-3">
                        <i class="fas fa-cocktail"></i>
                    </div>
                    <div class="text-left">
                        Drink<br />
                        Manager
                    </div>
                </a>
                <ul class="navbar-nav px-5">
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" && routeValues["controller"].ToString() == "Home" ? "active" : "")">
                        <i class="fas fa-home mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" && routeValues["controller"].ToString() == "Drinks" ? "active" : "")">
                        <i class="fas fa-glass-martini mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="Index">All drinks</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "SearchByName" ? "active" : "")">
                        <i class="fas fa-search mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="SearchByName">Search by name</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="fas fa-percent mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="SearchByAlcoholContent">Search by alcohol content</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "SearchByIngredients" ? "active" : "")">
                        <i class="fas fa-lemon mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="SearchByIngredients">Search by ingredients</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mb-3 @(routeValues["Action"].ToString() == "FavouriteDrinks" ? "active" : "")">
                        <i class="fas fa-heart mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="FavouriteDrinks">Favourite drinks</a>
                    </li>
                    <li class="nav-item d-flex align-items-center @(routeValues["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="fas fa-star mr-3"></i>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Reviewed drinks</a>
                    </li>
                </ul>
            </nav>
            <main class="col-10 pt-5">
                <!-- page body -->
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</body>
</html>