@using DrinkManager.API.Resources
@model DrinkManager.API.Models.ViewModels.DrinksViewModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewBag.Title = "Search by name";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="h2 font-weight-bold">@L["SearchByName"]</div>
        <div>
            <form asp-controller="Drinks" asp-action="SearchByName" method="get">
                <p>
                    <div class="h5 font-weight-bold">@L["EnterADrinkNameToFind"]:</div>
                    <div class="h6">@L["TipToSearchByName"].</div>
                    <input type="text" name="SearchString" value="@ViewData["SearchString"]">
                    <button type="submit" class="btn btn-outline-primary mr-0 ml-2 mt-0 mb-0">@L["Search"]</button>
                    <a asp-controller="Drinks" asp-action="SearchByName" asp-route-searchString="" class="btn btn-outline-secondary mr-0 ml-2 mt-0 mb-0" type="button">@L["Clear"]</a>
                    <br />
                </p>
            </form>
        </div>
        <partial name="Partials/DrinkList" model="Model" />
        <partial name="Partials/Pagination" model="Model" />
    </div>
</div>