@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model LoginWith2faModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = @L["Two-factorAuthentication"];
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>@L["YourLoginIsProtectedWithAnAuthenticatorApp"]. @L["EnterYourAuthenticatorCodeBelow"].</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@L["Log in"]</button>
            </div>
        </form>
    </div>
</div>
<p>
    @L["Don'tHaveAccessToYourAuthenticatorDevice"]? @L["YouCan"]
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@L["logInWithARecoveryCode"]</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
