@page
@model LoginModel
@using Microsoft.Extensions.Localization
@using DrinkManagerWeb.Resources
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = @L["Log in"];
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>@L["UseALocalAccountToLogIn"].</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@L["Log in"]</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>@L["UseAnotherServiceToLogIn"].</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            @L["ThereAreNoExternalAuthentication"]. @L["See_website"] <a href="https://go.microsoft.com/fwlink/?LinkID=532715">@L["thisArticle"]</a>
                            @L["forDetailsOnSettingUp"].
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    switch (provider.Name)
                                    {
                                        case "Facebook":
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-f mr-2"></i>@L["SignInWithFacebook"]</button>
                                            break;
                                        case "Google":
                            <button type="submit" class="ml-2 btn btn-light shadow-sm align-items-center d-inline-flex" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="/assets/google-logo.svg" alt="Google logo" width="16" height="16" class="mr-2">@L["SignInWithGoogle"]</button>
                                            break;
                                        default:
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            break;
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
