@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model RegisterConfirmationModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = @L["RegisterConfirmation"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        @L["ThisAppDoesNotCurrentlyHaveARealEmailSenderRegistered"], @L["see"] <a href="https://aka.ms/aspaccountconf">@L["theseDocs"]</a> @L["forHowToConfigureARealEmailSender"].
        @L["NormallyThisWouldBeEmailed"]: <a id="confirm-link" href="@Model.EmailConfirmationUrl">@L["ClickHereToConfirmYourAccount"]</a>
    </p>
    }
    else
    {
        <p>
            @L["PleaseCheckYourEmailToConfirmYourAccount"].
        </p>
    }
}
