@model BLL.Report
@{
    ViewBag.Title = "General Report";
    Layout = "_LayoutAdmin";
}
<div class="card">
    <div class="card-header">
        <h3>Generated today (@Model.Created) for period between @Model.StartDate and @Model.EndDate</h3>
    </div>
    <div class="card-body">
        <p>1. We welcomed a total of <b>@Model.NewRegisters new users</b>, yay!</p>
        <p>2. There were <b>@Model.SuccessfulLoginsAmount.AllLogins successful logins</b> in this time which includes <b>@Model.SuccessfulLoginsAmount.ExternalLogins external logins</b></p>
        <p>3. <b>@Model.MostFavouriteDrink.Name</b> received the most love! It was added to favourites a total of <b>@Model.MostFavouriteDrink.Count times</b> which is the most!</p>
        <p>4. MVP of this report is <b>@Model.HighestScoreDrink.DrinkName</b> with highest score equal to <b>@Model.HighestScoreDrink.AverageScore</b>!</p>
        <p>5. Our <b>underrated friend (@Model.LowestScoreDrink.DrinkName)</b> doesn't suit tastes of our users - its score <b>(@Model.LowestScoreDrink.AverageScore) is the lowest</b>!</p>
        <p>6. It is a little crowded here... <b>@Model.MostVisitedDrink.Name</b> has so many visitors! I wouldn't handle so much <b>(@Model.MostVisitedDrink.Count) visits</b> in this short span of time...</p>
        <p>7. <b>Everyone</b> is talking about <b>@Model.MostReviewedDrink.Name</b>! It received <b>@Model.MostReviewedDrink.Count reviews</b>!</p>
        <p>8. <b>@Model.MostActiveUser.Name</b> is visiting us maybe too often - <b>@Model.MostActiveUser.Count activities in @((Model.EndDate - Model.StartDate).Days) days</b>! (I hope he or she doesn't have alcohol problem)</p>
        <p><br></p>
        <p>End of the report - Good day to you, stay healthy!</p>
    </div>
</div>