@using Microsoft.Extensions.Configuration
@model DrinkManager.API.Models.ViewModels.UserListViewModel
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Administration - Users";
    Layout = "_LayoutAdmin";
}
<h2>Users</h2>
<hr />
<a asp-action="CreateUser" class="btn btn-secondary">Create User</a>
<br />
<br />
<table class="table table-sm table-bordered table-hover table-striped">
    <tr class="thead-light"><th>Email</th><th>Role</th><th></th><th></th></tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td><a asp-action="UserActivitiesReport" asp-route-username="@user.Email">@user.Email</a></td>
            <td>
                @foreach (var role in Model.RolesPerUser[@user.UserName])
                {
                    <span>@role</span>
                }
            </td>
            <td class="text-center">
                @if (@user.Email != Configuration["AppSettings:AdminUserEmail"])
                {
                    <div>
                        <a class="btn btn-sm btn-primary" asp-action="UpdateUserRoleAndEmail" asp-route-id="@user.Id">
                            Edit Role or Email
                        </a>
                        <a class="btn btn-sm btn-primary" asp-action="UpdateUserPassword" asp-route-id="@user.Id">
                            Edit Password
                        </a>
                    </div>
                }
            </td>
            <td class="text-center">
                @if (@user.Email != Configuration["AppSettings:AdminUserEmail"])
                {
                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                }
            </td>
        </tr>
    }
</table>
