@model DrinkManagerWeb.Models.ViewModels.SettingsViewModel
@{
    ViewData["Title"] = "Settings";
    Layout = "_LayoutAdmin";

    var rand = new Random();
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-12">
        <partial name="_AlertPartial" />
        <div class="card">
            <div class="mb-3 card-header">
                Admin Report options
            </div>
            <div class="card-body">
                <form asp-action="Settings" asp-controller="Admin" method="post">
                    @foreach (var setting in Model.Settings)
                    {

                        <div class="form-group d-flex align-items-center row">
                            <div class="col-2">
                                <label for="@setting.Name" class="mb-0 mr-3">@setting.Name</label>
                            </div>
                            <div class="col-9">
                                @if (setting.Name.Equals("report.time"))
                                {
                                    <i class="fas fa-clock" style="color: white; position: absolute; left: 25px; top: 11px;"></i>
                                }

                                @switch (setting.FrontEndElementType)
                                {
                                    case "input":
                                    {
                                        <input type="text"
                                               class="form-control"
                                               placeholder="@setting.Name"
                                               value="@(setting.Value ?? " ")" id="@setting.Name"
                                               name="@setting.Name"
                                               @(setting.DisallowManualChange ? "readonly" : "")
                                               style="@(setting.Name.Equals("report.time") ? "padding-left: 33px" : "")">
                                        break;
                                    }
                                    case "select":
                                    {
                                        <select class="custom-select" name="@setting.Name" id="@setting.Name">
                                            @foreach (var option in setting.AvailableOptions.Split(','))
                                            {
                                                if (option.Equals(setting.Value))
                                                {
                                                    <option selected>@option</option>
                                                }
                                                else
                                                {
                                                    <option>@option</option>
                                                }
                                            }
                                        </select>
                                        break;
                                    }
                                    default:
                                        <p>Error while rendering the element</p>
                                        break;
                                }


                            </div>
                            <div class="col-2">

                            </div>
                            <div class="col-9 mt-2">
                                <span>@setting.Description</span>
                            </div>
                        </div>
                    }
                    <div class="mt-3 border-top">
                        <input class="btn btn-primary mt-3" type="submit" value="Save" />
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="mb-3 card-header">
                Manual Report Generator
            </div>
            <div class="card-body">
                <form>
                    <div id="start-date" class="md-form md-outline input-with-post-icon flatpickr-input" inline="true">
                        <input placeholder="Select date" type="text" id="select-start-date" class="form-control">
                        <label for="select-start-date">Start Date</label>
                        <i class="fas fa-calendar input-prefix"></i>
                    </div>
                    <div id="end-date" class="md-form md-outline input-with-post-icon flatpickr-input" inline="true">
                        <input placeholder="Select date" type="text" id="select-end-date" class="form-control">
                        <label for="select-end-date">End Date</label>
                        <i class="fas fa-calendar input-prefix"></i>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
                                {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        $(function () {
            let element = document.getElementById("report.time");
            flatpickr(element,
                {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                    time_24hr: true
                });
        });
        $(function () {
            let element = document.getElementById("start-date");
            flatpickr(element,
                {
                    enableTime: true
                });
        });
        $(function () {
            let element = document.getElementById("end-date");
            flatpickr(element,
                {
                    enableTime: true
                });
        });
    </script>
}