@using BLL.Data.Repositories
@using BLL
@using BLL.ReportDataModels
@model BLL.UserReport
@{
    ViewBag.Title = $"Administration - User Report";
    Layout = "_LayoutAdmin";
}
@inject IDrinkRepository DrinkRepository
<h2>@Model.Username activity information</h2>
<hr />
<div class="row" style="padding-bottom: 10px">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Most visited drink</h3>
                </div>
                <div class="card-body">
                    @if (Model.MostVisitedDrink.DrinkId != null)
                    {
                        <div class="card">
                            <a class="page-link" asp-controller="Drinks" asp-action="DrinkDetails" asp-route-id="@Model.MostVisitedDrink.DrinkId">
                                <img class="w-100 rounded shadow-lg" src="@(DrinkRepository.FindDrink(x => x.DrinkId == Model.MostVisitedDrink.DrinkId).Result.ImageUrl)" />
                            </a>
                            <div class="card-body text-center">
                                <a class="card-title text-dark" asp-controller="Drinks" asp-action="DrinkDetails" asp-route-id="@Model.MostVisitedDrink.DrinkId"><h4>@Model.MostVisitedDrink.Name</h4></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <partial name="Partials/PlaceHolder" />
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Recently added to favourite drink</h3>
                </div>
                <div class="card-body">
                    @if (Model.RecentlyFavouriteDrink.DrinkId != null)
                    {
                        <div class="card">
                            <a class="page-link" asp-controller="Drinks" asp-action="DrinkDetails" asp-route-id="@Model.RecentlyFavouriteDrink.DrinkId">
                                <img class="w-100 rounded shadow-lg" src="@(DrinkRepository.FindDrink(x => x.DrinkId == Model.RecentlyFavouriteDrink.DrinkId).Result.ImageUrl)" />
                            </a>
                            <div class="card-body text-center">
                                <a class="card-title text-dark" asp-controller="Drinks" asp-action="DrinkDetails" asp-route-id="@Model.RecentlyFavouriteDrink.DrinkId"><h4>@Model.RecentlyFavouriteDrink.DrinkName</h4></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <partial name="Partials/PlaceHolder" />
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Recently reviewed drink</h3>
                </div>
                <div class="card-body">
                    @if (Model.RecentlyReviewedDrink.DrinkId != null)
                    {
                        <div class="card">
                            <a class="page-link" asp-controller="Drinks" asp-action="DrinkDetails" asp-route-id="@Model.RecentlyReviewedDrink.DrinkId">
                                <img class="w-100 rounded shadow-lg" src="@(DrinkRepository.FindDrink(x => x.DrinkId == Model.RecentlyReviewedDrink.DrinkId).Result.ImageUrl)" />
                            </a>
                            <div class="card-body text-center">
                                <a class="card-title text-dark" asp-controller="Drinks" asp-action="DrinkDetails" asp-route-id="@Model.RecentlyReviewedDrink.DrinkId"><h4>@Model.RecentlyReviewedDrink.DrinkName</h4></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <partial name="Partials/PlaceHolder" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3></h3>
            </div>
            <div class="card-body">
                <table class="table table-sm table-bordered table-hover table-striped">
                    <th colspan="2">Activities summary</th>
                    <tr>
                        <td>Registered at: </td>
                        <td>
                            @(Model.RegisteredAt.Equals("-") ? (object) Model.RegisteredAt : DateTime.Parse(Model.RegisteredAt).AddHours(-1))
                        </td>
                    </tr>
                    <tr>
                        <td>Logins count: </td>
                        <td>
                            @Model.LoginsCount
                        </td>
                    </tr>
                    <tr>
                        <td>Last seen: </td>
                        <td>
                            @(Model.LastSeen.Days > 0 ? $" {Model.LastSeen.Days} days "
                                : Model.LastSeen.Hours > 0 ? $" {Model.LastSeen.Hours} hours "
                                    : Model.LastSeen.Minutes > 0 ? $" {Model.LastSeen.Minutes} minutes "
                                        : $" {Model.LastSeen.Seconds} seconds ") ago
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
