@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using DrinkManagerWeb.Areas.Identity.Pages.Account.Manage
@using DrinkManagerWeb.Resources
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 px-4 pb-5">@L["WelcomeInDrinkManagerApp"]!</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="text-left p-4 m-5" style="line-height: 1.75">
                <p>
                    @L["WithThisAppYouCanSearchDrinksByTheir"]:
                    <ul>
                        <li>@L["Name_diff"],</li>
                        <li>@L["Ingredients_diff"],</li>
                        <li>@L["AlcoholContent_diff"].</li>
                    </ul>
                    @L["YouCanAlsoAdd"]:
                    <ul>
                        <li>@L["reviewToDrinks"],</li>
                        <li>@L["ratings_diff"],</li>
                        <li>@L["yourDrink"].</li>
                    </ul>
                    @L["WhenYouFindYourBelovedDrink"]!
                    <br><br>@L["Enjoy"]!
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-thumbnail"
                 src="https://cdn.pixabay.com/photo/2018/08/22/10/15/bottles-3623317_960_720.jpg"
                 alt="Bottles with alcohol" />
        </div>
    </div>
</div>