@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="@ViewData["SearchType"]" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["SearchString"]" asp-route-searchCondition="@ViewData["SearchCondition"]">Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drink in Model.Drinks)
        {
            <tr>
                <td>
                    <a asp-action="DrinkDetails" asp-route-id="@drink.Id">@drink.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Drinks.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Drinks.HasNextPage ? "disabled" : "";
}

<nav>
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="@ViewData["SearchType"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.Drinks.PageIndex - 1)"
               asp-route-searchString="@ViewData["SearchString"]"
               asp-route-searchCondition="@ViewData["SearchCondition"]"
               class="page-link">
                Previous
            </a>
        </li>
        @for (int i = 0; i < Model.Drinks.TotalPages; i++)
        {
            <li class="page-item @Model.Drinks.IsOnCurrentPage(Model.Drinks.PageIndex, i+1)">
                <a asp-action="@ViewData["SearchType"]"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(i+1)"
                   asp-route-searchString="@ViewData["SearchString"]"
                   asp-route-searchCondition="@ViewData["SearchCondition"]"
                   class="page-link">
                    @(i+1)
                </a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a asp-action="@ViewData["SearchType"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.Drinks.PageIndex + 1)"
               asp-route-searchString="@ViewData["SearchString"]"
               asp-route-searchCondition="@ViewData["SearchCondition"]"
               class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>