@using DrinkManagerWeb.Resources
@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel
@inject IStringLocalizer<SharedResource> L

@{
    var prevDisabled = !Model.Drinks.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Drinks.HasNextPage ? "disabled" : "";
}
<nav>
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-route-pageNumber="@(Model.Drinks.PageIndex - 1)"
               asp-route-searchString="@ViewData["SearchString"]"
               asp-route-searchCondition="@ViewData["SearchCondition"]"
               asp-route-alcoholics="@ViewData["Alcoholics"]"
               asp-route-nonAlcoholics="@ViewData["nonAlcoholics"]"
               asp-route-optionalAlcoholics="@ViewData["optionalAlcoholics"]"
               class="page-link">
                Previous
            </a>
        </li>
        @for (int i = 0; i < Model.Drinks.TotalPages; i++)
        {
            <li class="page-item @Model.Drinks.IsOnCurrentPage(Model.Drinks.PageIndex, i+1)">
                <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-alcoholics="@ViewData["Alcoholics"]"
                   asp-route-nonAlcoholics="@ViewData["nonAlcoholics"]"
                   asp-route-optionalAlcoholics="@ViewData["optionalAlcoholics"]"
                   asp-route-pageNumber="@(i+1)"
                   asp-route-searchString="@ViewData["SearchString"]"
                   asp-route-searchCondition="@ViewData["SearchCondition"]"
                   class="page-link">
                    @(i+1)
                </a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-alcoholics="@ViewData["Alcoholics"]"
               asp-route-nonAlcoholics="@ViewData["nonAlcoholics"]"
               asp-route-optionalAlcoholics="@ViewData["optionalAlcoholics"]"
               asp-route-pageNumber="@(Model.Drinks.PageIndex + 1)"
               asp-route-searchString="@ViewData["SearchString"]"
               asp-route-searchCondition="@ViewData["SearchCondition"]"
               class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>